body {
    font-family: 'TTHoves', sans-serif
}
@font-face {
    font-family: 'Chava';
    src: url('Chava-Regular.ttf');
}
@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.eot');
    src: local('TT Hoves Regular'), local('TTHoves-Regular')
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}
section {
    /* padding-left :calc(10.7vw + 61.1px); */
    padding: 0px calc(10.7vw + -16.1px);
}
.logo {
    width: calc(8.8vw + 181px);
    margin-top: 37px;
    margin-bottom: calc(6.3vw + 4.3px);
}
.info {
    display: flex;
    gap: calc(14.4vw + 24.2px);
    margin-bottom: calc(3.1vw + 36.3px);
}
.title,.subtitle {
    display: block;
    flex-wrap: wrap;
    font-size: calc(0.5vw + 13.9px);
}
.subtitle {
    font-weight: 700;
}
.maintitle {
    font-size: calc(4.2vw + 26.5px);
    font-weight: 400;
    margin-bottom: 40px;
    font-family: 'Chava', sans-serif;
}
.info_text {
    font-weight: 300;
    font-size: calc(0.9vw + 14.2px);
    max-width: 930px;
    margin-bottom: 20px;
}
.primary,.secondary {
    width: 328px;
    height: 61px;
    border-radius: 12px;
    padding: 20px 0;
    border: 1px solid #6e3aba;
    cursor: pointer;
    font-size: 18px;
}
.primary {
    background-color: #6e3aba;
    color: white;
    margin-bottom: 20px;
    margin-right: 30px;
}
.secondary {
    color: #6e3aba;
    background-color: white;
}
.info_wrapper{
    background-image: url(./image/icon.png);
    background-position: right 58px top calc(4.9vw + 58.7px);
    background-repeat: no-repeat;
    background-size: 30vw ;
}
.discount {
    background-color: rgba(110, 58, 186, 1);
    margin-top: calc(6.9vw + 34.3px);
}
.title_discount {
    padding-top: calc(4.4vw + 23.4px);
    color: white;
    text-align: center;
    font-size: calc(2vw + 26.5px);
}
.time {
    font-size: calc(12.6vw + 12.7px);
    display: block;
    gap: calc(6.4vw + 7.9px);
    font-family: 'Chava', sans-serif;
    color: rgba(47, 29, 78, 1);
}
.time_title {
    font-size: calc(1.9vw + 2.9px);
    text-align: center;    
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: calc(4.1vw + 4.6px);
    margin-top: calc(4.1vw + 4.6px);
}
.timer {
    margin: auto 40px;
    text-align: center;
}
.button_discount {
    display: flex;
    justify-content: center;
    padding-bottom: calc(4.4vw + 23.4px);
}
.use_discount {
    width: 328px;
    padding: 20px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    gap: calc(1.1vw + 18.5px);
}
.courseProgram {
    border: 2px solid black;
    padding: 80px 64px 35px;
    position: relative;
}
#corner {
    width: calc(2.8vw + 14.6px);
    position: absolute;
    top: -2px;
    right: -2px;
}
.pg {
    font-size: calc(2.65vw + 24px);
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;
}
.lessons {
    list-style-type: none;
    margin: 40px 0 34px;
    font-size: calc(0.6vw + 13.9px);
    line-height: 140%;
}
.lesson {
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 24px;
    margin-top: 24px;
}
.desktop {
    display: block;
    margin: 0 auto;
}
.phone {
    display: none;
    margin: 30px ;
}




.profession {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    padding: 20px;
}
.card {
    max-width: 450px;
    box-sizing: border-box;
}
#memoji {
    width: calc(3.3vw + 167.5px);
    margin-bottom: 10px;
}
.memojiTitle {
    font-size: calc(2.65vw + 24px);
    font-weight: 500;
    margin-bottom: calc(6.1vw + 17.2px);
}
.MemojiSubtitle {
    font-size: calc(1vw + 14.2px);
    font-weight: 600;
    margin-bottom: 20px;
}
.info_text2 {
    font-weight: 300;
    font-size: calc(1vw + 14.2px);
}



/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 1fr;
    min-height: 100hv;
    grid-template-areas: "head head head"
                        "navbar main main";
}
.header {
    background-color: red;
    text-align: center;
    color: white;
    grid-area: ;
} */

.who {
    font-size: calc();
    font-weight: 500;
    line-height: 117%;
    text-transform: uppercase;
}






.twoMonth {
    font-size: calc(2.65vw + 24px);
    font-weight: 500;
    margin-bottom: calc(7.7vw + -9px);
}
.titleTM {
    font-size: calc(1vw + 14.2px);
    font-weight: 600;
    margin-bottom: calc(1.1vw + 5.8px);
}
.subtitleTM {
    font-size: calc(1vw + 14.2px);
    font-weight: 400;
}
.cardTM {
    margin-bottom: calc(6.6vw + 5.1px);
    max-width: calc(8vw + 298px);
}
.cardsTM {
    display: flex;
    flex-wrap: wrap;
    gap: calc(6.6vw + 5.1px);
}
.allcardsTM {
    gap: 30px;
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
}








@media (max-width: 700px) {
    .desktop {
        display: none;
    }
    .phone {
        display: block;
    }
    .buttomFull {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        flex: 1 1 cals(50% - 40px);
    }
    .subinfo {
        margin-bottom: 30px;
    }
    .info {
        display: block;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
    }
    .primary {
        margin-right: 0px;
    }
}